{% load static %}

<html>
<header>

    <title> Login </title>
    <meta charset = "UTF-8" />
    <link rel = "stylesheet" href = "">
</header>

<body>
    <p><h3> Login Page </h3></p>

    <div id = "helloText">
        Test pour les bouttons / Interactions avec le serv
    </div>

    <div id = "login-container" >
        <form action = "connect.php">
            <div id = "login-inputs">
                <label forName ="login"> Login </label>
                <input name="login" placeholder="Enter Username">

                <label forName ="password"> Mot de passe </label>
                <input name="password" placeholder="Your Password" type = "password">
            </div>

            <button type = "submit" id = "buttonON"> Connect </button>
        </form>
    </div>

</body>
    <script src = "{% static 'js/login.css' %}"></script>
</html>