<!DOCTYPE html>
<html>
<header>

    <title> Register </title>
    <meta charset = UTF-8" />
    <link rel = "stylesheet" href = "./style.css">
</header>

<body>
    <p><h3> Register Page </h3></p>

    <div id = "helloText">
    </div>

    <div id = "register-container" >
        <form action = "connect.php">
            <div id = "register-inputs">
                <label forName ="username"> Username </label>
                <input name="username" placeholder="Enter Username">

                <label forName ="password"> Mot de passe </label>
                <input name="password" placeholder="Your Password" type = "password">

                <label forName ="confirm-password"> Confirmez Mot de passe </label>
                <input name="confirm-password" placeholder="Your Password" type = "password">
            </div>

            <button type = "submit" id = "buttonON"> Connect </button>
        </form>
    </div>

    <script type = "text/javascript" src = "./app.js"> </script>
</body>
</html>